In [2]:
import pandas as pd
import numpy as np

## Problema 1

**Eventos:**

$A:\text{"El mensaje contiene un archivo adjunto"}$

$S:\text{"El mensaje es un SPAM"}$

$A^{c}\cap S^{c}:\text{"El mensaje no tiene adunto ni es SPAM"}$

**Probabilidades:**

$$P(A) = 0.5, \quad P(S) = 0.65, \quad P(A^{c}\cap S^{c}) = 0.15$$

Por las leyes de D'Morgan y propiedades del álgebra de probabilidades:

$$P(A^{c}\cap S^{c}) = P((A\cup S)^{c}) = 1 - P(A\cup S),$$

por lo que $P(A\cup S) = 1 - 0.15 = 0.85$, y en consecuencia:

$$P(A\cap S) = P(A) + P(S) - P(A\cup S) = 0.5 + 0.65 - 0.85 = 0.3$$

$$P(A|S) = \dfrac{P(A\cap S)}{P(S)}=\dfrac{0.3}{0.65} \approx 0.46154$$

$$P(A^{c}|S^{c}) = \dfrac{P(A^{c}\cap S^{c})}{1 - P(S)} = \dfrac{0.15}{0.35} \approx 0.42871$$

In [40]:
def prob(PA,PS,P_AS):
    """
    Args:
         PA: probabilidad de que el mensaje contenga un archivo adjunto
         PS: probabilidad de que el mensaje sea SPAM
         P_AS: probabilidad de que el mensaje no tenga adjunto y tampoco sea SPAM
    """
    if PA < 0 or PS < 0 or PA > 1 or PS > 1:
        return print('Ingrese valores consistentes')
    else:
        PAuS = 1 - P_AS
        PAnS = PA + PS - PAuS
        PA1S = PAnS/PS
        P_A1_S = P_AS/(1 - PS)
        probs = [PA1S,P_A1_S]
        return pd.DataFrame(probs,columns = ['Probabil.'], index = ['Punto 1', 'Punto 2'])

In [41]:
prob(0.5,0.65,0.15)

         Probabil.
Punto 1   0.461538
Punto 2   0.428571

## Problema 2

**Punto a**

Se considera una muestra aleatoria $(X_1,X_2,\dots,X_6)$, es decir, $X_{i}\sim_{_{iid}} N(\mu,\sigma)$, donde $\sigma = 15.7$. Si 

$$Y:=\dfrac{\sum_{i=1}^{6} X_{i} - 6\mu}{\sqrt{6}\sigma},$$ 

por el teorema del límite central, se tiene que $Y\sim N(0,1)$, por lo tanto, el problema se reduce a encontrar el valor de $\mu$ para el que

$$P\left(\sum X > 500\right) = P\left(Y > \dfrac{500 - 6\mu}{\sqrt{6}\cdot 15.7}\right)=0.021$$

y por la gráfica, se reduce a resolver la siguiente ecuación:

$$\dfrac{500 - 6\mu}{\sqrt{6}\cdot 15.7} = 2$$

por lo tanto, $\mu$ es igual a:

In [5]:
(500 - np.sqrt(6)*15.7*2)/6

70.51433701276804

**Punto b**

Se van a extraer muestras de tamaño 6, un número de 10 , 100, y 1000 veces. se organizará la info en dataframes y se creará la columna "suma", para determinar con qué frecuencia se obtiene una suma mayor a 500.

In [95]:
lista = []
for i in [10,100,1000]:
    mues = pd.DataFrame(np.random.normal((500 - np.sqrt(6)*15.7*2)/6, 15.7, size=(i, 6)))
    mues['suma']=mues.apply(np.sum,axis=1)
    lista.append((i,(mues[mues['suma']>500].shape[0]/mues.shape[0])*100)) # tupla: (tamaño, Frecuencia relativa porcentual)
pd.DataFrame(lista, columns=['Tamaño', 'Frecuencia (%)'])

   Tamaño  Frecuencia (%)
0      10             0.0
1     100             1.0
2    1000             2.1

## Problema 3

**Amazon ElasticSearch:** El requisito es realizar a "futuro" consultas de los datos de los diferentes accidentes ocurridos, y Elasticsearch es un motor de búsqueda y análisis distribuido, el cual se utiliza habitualmente para análisis de registros, búsqueda de texto completo, inteligencia de seguridad, análisis empresarial y casos de uso de inteligencia operativa.

https://aws.amazon.com/es/opensearch-service/the-elk-stack/what-is-elasticsearch/

## Problema 4

**Amazon RDS:** se requiere un sistema de almacenamiento distribuído, ya que se cuenta con datos de un gran volumen. Amazon Relational Database Service (Amazon RDS) es un servicio web que facilita la configuración, el funcionamiento y la escalabilidad de una base de datos relacional en la nube de AWS, además soporta varios motores de bases de datos para realizar consultas (mySQL, MariaDB, PostgreSQL, entre otros).

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html

## Problema 5

- **episodioId:** Si los episodios están descritos por palabras, se puede usar una nube de palabras para visualizar las palabras más frecuentes.

- **eventoID:** Es realmente un índice. No aplica visualización de distribución, porque cada identificador es único.

- Para analizar las distribuciones de las variables categóricas: **departamento**, **ubicacionOrigen**, **ubicacionDestino**, se pueden usar diagramas de barras (separados).

- **torFscale:** es una variable categórica de escala ordinal, conviene visualizarla con un diagrama de cajas y bigotes.

- **latitudInicial**, **latitudFinal**, **impactoEstimado**: Por la variabilidad de los posibles valores que pueden tomar (dominio), conviene hacer, para cada variable, un historgrama con datos agrupados, definiendo intervalos mediante inrtervalos de clase.

- **muertesTotales**, **lesionesTotales**: Son valores enteros, conviene analizarlos mediante diagramas de caja y bigotes.

## Problema 6

### Punto 1

In [164]:
import imblearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [165]:
cp = pd.read_csv(r'costos_primas.csv')
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15483 entries, 0 to 15482
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15483 non-null  int64
 1   state              15483 non-null  object
 2   group_size         15483 non-null  int64
 3   homeowner          15483 non-null  int64
 4   car_age            15483 non-null  int64
 5   car_value          15435 non-null  object
 6   risk_factor        15483 non-null  int64
 7   age_oldest         15308 non-null  float64
 8   age_youngest       15483 non-null  int64
 9   married_couple     15483 non-null  int64
 10  C_previous         15483 non-null  int64
 11  duration_previous  15483 non-null  int64
 12  A                  15483 non-null  int64
 13  B                  15483 non-null  int64
 14  C                  15483 non-null  int64
 15  D                  15483 non-null  int64
 16  E                  15483 non-null  int64
 17  F                  15483 non-null  int64
 18  G                  15483 non-null  int64
 19  cost               15483 non-null  int64
dtypes: float64(1), int64(17), object(2)
memory usage: 2.4+ MB

In [166]:
import string
cats = list(string.ascii_uppercase)[:7] # Lista de las primeras 7 letras del alfabeto en mayúsculas
cp[cats] = cp[cats].astype('category') # Columnas de la A a la G como variables categóricas.
cp['car_value'] = cp['car_value'].astype('category')
cp['state'] = cp['state'].astype('category')
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15483 entries, 0 to 15482
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15483 non-null  int64
 1   state              15483 non-null  category
 2   group_size         15483 non-null  int64
 3   homeowner          15483 non-null  int64
 4   car_age            15483 non-null  int64
 5   car_value          15435 non-null  category
 6   risk_factor        15483 non-null  int64
 7   age_oldest         15308 non-null  float64
 8   age_youngest       15483 non-null  int64
 9   married_couple     15483 non-null  int64
 10  C_previous         15483 non-null  int64
 11  duration_previous  15483 non-null  int64
 12  A                  15483 non-null  category
 13  B                  15483 non-null  category
 14  C                  15483 non-null  category
 15  D                  15483 non-null  category
 16  E                  15483 non-null  category
 17  F                  15483 non-null  category
 18  G                  15483 non-null  category
 19  cost               15483 non-null  int64
dtypes: category(9), float64(1), int64(10)
memory usage: 1.4 MB

Como se puede observar, las únicas variables con datos faltantes son:

    - car_value
    - age_oldest

### Punto 2

De la descripción de las variables dada, se observa que se tienen las siguientes variables categóricas:

    - state
    - homeowner
    - risk_factor
    - married_couple
    - C_previous

In [167]:
cp.head(3) # Imprimir las tres primeras filas para observar sus valores.

,Unnamed: 0,state,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,0,OK,1,0,9,f,0,24.0,24,0,3,9,0,0,1,1,0,0,4,543
1,1,OK,1,0,9,f,0,24.0,24,0,3,9,2,1,1,3,1,3,2,611
2,2,PA,1,1,7,f,0,74.0,74,0,2,15,2,0,2,3,1,2,2,691

Quitaremos la columna sin nombre, pues trae la misma info que el índice:

In [168]:
cp.drop(cp.iloc[:,[0]],axis=1,inplace=True)
cp.head()

,state,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,OK,1,0,9,f,0,24.0,24,0,3,9,0,0,1,1,0,0,4,543
1,OK,1,0,9,f,0,24.0,24,0,3,9,2,1,1,3,1,3,2,611
2,PA,1,1,7,f,0,74.0,74,0,2,15,2,0,2,3,1,2,2,691
3,PA,1,1,7,f,0,NaN,74,0,2,15,2,0,2,3,1,2,2,695
4,AR,1,0,4,d,4,26.0,26,0,3,1,1,0,1,1,0,2,2,628

Antes de pasar al siguiente punto, se determinará si los valores de las variables con datos textuales están "normalizados", es decir, que tengan el mismo formato y no ocurra que OK, esté escrito en minúsculas en algunos casos, por ejemplo. Para lo cual, se define una función que imprima los posibles valores de cada variable:

In [169]:
def impr_unic(x,list_car):
    for i in list_car:
        print(f'Posibles valores de la variable {i}: {x[i].unique()}')
        print('--'*50)

In [170]:
impr_unic(cp,['state','car_value'])

Posibles valores de la variable state: ['OK', 'PA', 'AR', 'WA', 'FL', ..., 'WY', 'MT', 'SD', 'ND', 'DC']
Length: 36
Categories (36, object): ['AL', 'AR', 'CO', 'CT', ..., 'WA', 'WI', 'WV', 'WY']
----------------------------------------------------------------------------------------------------
Posibles valores de la variable car_value: ['f', 'd', 'e', 'h', 'g', 'c', 'i', NaN, 'a', 'b']
Categories (9, object): ['a', 'b', 'c', 'd', ..., 'f', 'g', 'h', 'i']
----------------------------------------------------------------------------------------------------

Se observa que los datos están normalizados.

### Punto 3

Conviene realizar el proceso de imputación antes de hacer la codificación, así que se realizarpa el punto 4 primero, y luego se volverpa al punto 3.

### Punto 4

Como se observó antes, las únicas variables con datos faltantes, son: age_oldest, y car_value. La primera es ordinal, la segunda es nominal, así que se imputarán valores faltantes por la moda, para mejorar los resultados, se puede imputar agrupando por otra variable categórica al dataset original como el estado (state), pero en este ejercício sólo se imputará por la moda (por tiempo).

In [172]:
for i in ['car_value','age_oldest']:
    mod = cp[i].mode().iloc[0]
    cp[i] = cp[i].fillna(mod)

In [174]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15483 entries, 0 to 15482
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              15483 non-null  category
 1   group_size         15483 non-null  int64
 2   homeowner          15483 non-null  int64
 3   car_age            15483 non-null  int64
 4   car_value          15483 non-null  category
 5   risk_factor        15483 non-null  int64
 6   age_oldest         15483 non-null  float64
 7   age_youngest       15483 non-null  int64
 8   married_couple     15483 non-null  int64
 9   C_previous         15483 non-null  int64
 10  duration_previous  15483 non-null  int64
 11  A                  15483 non-null  category
 12  B                  15483 non-null  category
 13  C                  15483 non-null  category
 14  D                  15483 non-null  category
 15  E                  15483 non-null  category
 16  F                  15483 non-null  category
 17  G                  15483 non-null  category
 18  cost               15483 non-null  int64
dtypes: category(9), float64(1), int64(9)
memory usage: 1.3 MB

### Punto 3

One - hot encoding:

In [178]:
X0 = pd.get_dummies(cp, columns = [i for i in cp.columns if i not in ['age_oldest','cost','group_size']])

In [179]:
X0.head()

,group_size,age_oldest,cost,state_AL,state_AR,state_CO,state_CT,state_DC,state_DE,state_FL,...,E_0,E_1,F_0,F_1,F_2,F_3,G_1,G_2,G_3,G_4
0,1,24.0,543,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,1,24.0,611,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
2,1,74.0,691,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
3,1,75.0,695,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
4,1,26.0,628,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0

### Punto 5

In [183]:
from sklearn.model_selection import train_test_split

y = X0['cost']
X= X0.drop(['cost'], axis=1)
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=1337)

### Punto 6

In [188]:
import statsmodels.api as sm

model = sm.OLS(endog = Y_train, exog = X_train).fit()

### Punto 7

In [192]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.532
Model:                            OLS   Adj. R-squared:                  0.525
Method:                 Least Squares   F-statistic:                     71.07
Date:                Fri, 08 Apr 2022   Prob (F-statistic):               0.00
Time:                        16:09:49   Log-Likelihood:                -56862.
No. Observations:               11612   AIC:                         1.141e+05
Df Residuals:                   11428   BIC:                         1.154e+05
Df Model:                         183
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
group_size               0.4537      1.342      0.338      0.735      -2.177       3.084
age_oldest               0.2241      0.051      4.375      0.000       0.124       0.325
state_AL                 0.8491      1.846      0.460      0.645      -2.769       4.467
state_AR                -2.4179      2.495     -0.969      0.333      -7.309       2.473
state_CO                -6.0671      1.738     -3.491      0.000      -9.474      -2.660
state_CT                35.0382      2.133     16.428      0.000      30.858      39.219
state_DC                49.4806      4.529     10.926      0.000      40.603      58.358
state_DE                50.8660      4.104     12.393      0.000      42.821      58.911
state_FL                31.1167      1.294     24.048      0.000      28.580      33.653
state_GA                 9.0247      1.567      5.760      0.000       5.954      12.096
state_IA               -50.3346      2.762    -18.224      0.000     -55.749     -44.921
state_ID                -1.2524      3.660     -0.342      0.732      -8.427       5.922
state_IN                -1.0322      1.788     -0.577      0.564      -4.537       2.472
state_KS                -9.3372      3.889     -2.401      0.016     -16.959      -1.715
state_KY                21.4991      2.083     10.324      0.000      17.417      25.581
state_MD                38.6678      1.685     22.945      0.000      35.364      41.971
state_ME               -31.5621      3.485     -9.058      0.000     -38.392     -24.732
state_MO               -20.7610      2.209     -9.399      0.000     -25.091     -16.431
state_MS                -0.8317      2.627     -0.317      0.752      -5.980       4.317
state_MT               -10.2215      5.008     -2.041      0.041     -20.039      -0.404
state_ND                16.6099      5.595      2.969      0.003       5.643      27.577
state_NE                -8.1654      4.602     -1.774      0.076     -17.186       0.855
state_NH               -18.0024      3.061     -5.882      0.000     -24.002     -12.003
state_NM                 4.5868      3.127      1.467      0.142      -1.543      10.717
state_NV                23.9097      2.063     11.591      0.000      19.866      27.953
state_NY                60.1603      1.644     36.588      0.000      56.937      63.383
state_OH                -8.4592      1.426     -5.934      0.000     -11.254      -5.665
state_OK                -8.5671      1.947     -4.401      0.000     -12.383      -4.751
state_OR                -0.2571      2.047     -0.126      0.900      -4.269       3.755
state_PA                11.9700      1.253      9.555      0.000       9.514      14.426
state_RI                28.0073      3.608      7.764      0.000      20.936      35.079
state_SD               -16.2051     13.153     -1.232      0.218     -41.988       9.578
state_TN                -8.3588      1.854     -4.509      0.000     -11.992      -4.725
state_UT               -19.0885      2.124     -8.987      0.000     -23.252     -14.925
state_WA                 6.6063      1.827      3.616      0.000       3.025      10.188
state_WI               -31.1529      2.222    -14.019      0.000     -35.509     -26.797
state_WV                19.0423      3.867      4.924      0.000      11.461      26.623
state_WY                -6.1785      5.745     -1.076      0.282     -17.439       5.082
homeowner_0             80.3780      0.517    155.402      0.000      79.364      81.392
homeowner_1             68.8042      0.558    123.415      0.000      67.711      69.897
car_age_0               16.4617      3.459      4.759      0.000       9.682      23.242
car_age_1               13.8613      3.078      4.504      0.000       7.829      19.894
car_age_2                9.9252      3.138      3.163      0.002       3.773      16.077
car_age_3               11.6939      3.160      3.701      0.000       5.500      17.888
car_age_4                6.8043      3.179      2.140      0.032       0.572      13.036
car_age_5               10.0002      3.239      3.087      0.002       3.651      16.349
car_age_6                4.0413      3.141      1.287      0.198      -2.115      10.198
car_age_7                2.6205      3.126      0.838      0.402      -3.508       8.749
car_age_8                3.8121      3.187      1.196      0.232      -2.435      10.059
car_age_9                0.5570      3.137      0.178      0.859      -5.592       6.706
car_age_10               0.5637      3.141      0.179      0.858      -5.593       6.720
car_age_11               1.1496      3.171      0.363      0.717      -5.066       7.366
car_age_12              -2.5375      3.216     -0.789      0.430      -8.841       3.766
car_age_13               5.0471      3.242      1.557      0.120      -1.307      11.402
car_age_14               2.1365      3.256      0.656      0.512      -4.246       8.519
car_age_15               3.2520      3.436      0.946      0.344      -3.484       9.988
car_age_16               5.2520      3.592      1.462      0.144      -1.789      12.293
car_age_17              -0.0487      3.734     -0.013      0.990      -7.369       7.272
car_age_18               3.5628      4.008      0.889      0.374      -4.294      11.419
car_age_19              -6.0998      4.334     -1.407      0.159     -14.595       2.396
car_age_20              -3.5556      4.403     -0.808      0.419     -12.186       5.074
car_age_21              -1.5182      5.822     -0.261      0.794     -12.931       9.895
car_age_22               8.4133      5.230      1.609      0.108      -1.838      18.665
car_age_23              13.2650      8.597      1.543      0.123      -3.587      30.117
car_age_24              -3.3519      5.490     -0.611      0.541     -14.113       7.409
car_age_25               2.0973     10.610      0.198      0.843     -18.701      22.895
car_age_26             -13.8268      6.392     -2.163      0.031     -26.357      -1.297
car_age_27             -15.1291      8.003     -1.890      0.059     -30.817       0.559
car_age_28               4.1600      8.490      0.490      0.624     -12.482      20.802
car_age_29             -78.4084     12.024     -6.521      0.000    -101.977     -54.840
car_age_30             -35.9715     15.053     -2.390      0.017     -65.478      -6.465
car_age_31             -26.6399      9.990     -2.667      0.008     -46.223      -7.057
car_age_33             -17.0392     16.896     -1.008      0.313     -50.158      16.079
car_age_34             -15.3967     23.014     -0.669      0.504     -60.509      29.716
car_age_35              63.2729     26.230      2.412      0.016      11.857     114.688
car_age_39              32.8766     26.229      1.253      0.210     -18.537      84.290
car_age_41              -7.4930     34.484     -0.217      0.828     -75.087      60.101
car_age_46              20.8896     26.450      0.790      0.430     -30.957      72.736
car_age_47             103.8621     22.659      4.584      0.000      59.447     148.277
car_age_48              26.6207     20.566      1.294      0.196     -13.692      66.934
car_value_a              2.8440     13.404      0.212      0.832     -23.430      29.118
car_value_b             16.7232      8.035      2.081      0.037       0.973      32.473
car_value_c              5.3905      2.587      2.084      0.037       0.319      10.462
car_value_d             11.6320      2.138      5.441      0.000       7.442      15.822
car_value_e             12.2562      2.085      5.877      0.000       8.168      16.344
car_value_f             11.4602      2.095      5.470      0.000       7.354      15.567
car_value_g             17.4606      2.154      8.107      0.000      13.239      21.682
car_value_h             27.4165      2.436     11.254      0.000      22.641      32.192
car_value_i             43.9991      4.203     10.468      0.000      35.760      52.238
risk_factor_0           49.3490      0.702     70.324      0.000      47.973      50.724
risk_factor_1            4.9797      0.882      5.643      0.000       3.250       6.709
risk_factor_2           21.3245      0.769     27.723      0.000      19.817      22.832
risk_factor_3           34.2323      0.685     49.967      0.000      32.889      35.575
risk_factor_4           39.2968      0.748     52.522      0.000      37.830      40.763
age_youngest_16         45.5486      4.178     10.903      0.000      37.360      53.737
age_youngest_17         50.7973      4.980     10.201      0.000      41.036      60.558
age_youngest_18         49.1075      3.529     13.915      0.000      42.190      56.025
age_youngest_19         51.0555      2.768     18.446      0.000      45.630      56.481
age_youngest_20         31.6850      2.624     12.073      0.000      26.541      36.829
age_youngest_21         26.9000      2.442     11.015      0.000      22.113      31.687
age_youngest_22         28.3102      2.204     12.845      0.000      23.990      32.630
age_youngest_23         17.7114      1.943      9.117      0.000      13.904      21.519
age_youngest_24         16.4957      2.013      8.193      0.000      12.549      20.442
age_youngest_25          3.8447      2.032      1.892      0.058      -0.138       7.827
age_youngest_26          5.9638      2.107      2.831      0.005       1.834      10.094
age_youngest_27          8.2138      2.225      3.691      0.000       3.852      12.576
age_youngest_28          0.2065      2.145      0.096      0.923      -3.999       4.412
age_youngest_29          3.4513      2.304      1.498      0.134      -1.065       7.968
age_youngest_30          2.2505      2.243      1.003      0.316      -2.146       6.647
age_youngest_31          4.0450      2.327      1.739      0.082      -0.516       8.606
age_youngest_32          5.4178      2.293      2.363      0.018       0.924       9.912
age_youngest_33          5.3789      2.248      2.393      0.017       0.972       9.785
age_youngest_34         -0.0233      2.736     -0.009      0.993      -5.387       5.340
age_youngest_35          6.0846      2.403      2.532      0.011       1.374      10.795
age_youngest_36          0.8193      2.311      0.355      0.723      -3.710       5.349
age_youngest_37          1.6431      2.595      0.633      0.527      -3.444       6.730
age_youngest_38          2.8743      2.407      1.194      0.232      -1.844       7.593
age_youngest_39         -6.5403      2.916     -2.243      0.025     -12.256      -0.825
age_youngest_40         -4.7337      2.780     -1.703      0.089     -10.182       0.715
age_youngest_41         -4.4216      2.323     -1.903      0.057      -8.975       0.132
age_youngest_42         -1.3572      2.213     -0.613      0.540      -5.695       2.981
age_youngest_43         -1.7969      2.364     -0.760      0.447      -6.431       2.837
age_youngest_44         -6.4155      2.510     -2.556      0.011     -11.336      -1.495
age_youngest_45         -0.0990      2.550     -0.039      0.969      -5.097       4.899
age_youngest_46         -3.2753      2.769     -1.183      0.237      -8.703       2.152
age_youngest_47          0.5397      2.389      0.226      0.821      -4.143       5.222
age_youngest_48          3.6211      2.420      1.496      0.135      -1.123       8.365
age_youngest_49          1.6028      2.418      0.663      0.508      -3.138       6.343
age_youngest_50         -6.2139      2.274     -2.732      0.006     -10.672      -1.756
age_youngest_51         -4.4539      2.593     -1.718      0.086      -9.537       0.629
age_youngest_52         -5.9932      2.772     -2.162      0.031     -11.428      -0.559
age_youngest_53          3.0236      2.766      1.093      0.274      -2.399       8.446
age_youngest_54        -10.5081      2.660     -3.951      0.000     -15.722      -5.294
age_youngest_55        -13.3066      2.570     -5.178      0.000     -18.344      -8.269
age_youngest_56        -12.9190      2.730     -4.733      0.000     -18.270      -7.568
age_youngest_57         -8.6457      2.946     -2.934      0.003     -14.421      -2.870
age_youngest_58         -5.6456      2.709     -2.084      0.037     -10.956      -0.335
age_youngest_59         -9.2215      2.611     -3.531      0.000     -14.340      -4.103
age_youngest_60        -12.8066      2.249     -5.694      0.000     -17.215      -8.398
age_youngest_61        -13.2776      2.742     -4.842      0.000     -18.652      -7.903
age_youngest_62        -14.7707      2.526     -5.847      0.000     -19.723      -9.819
age_youngest_63         -3.0594      2.969     -1.030      0.303      -8.879       2.760
age_youngest_64        -12.8287      2.800     -4.582      0.000     -18.316      -7.341
age_youngest_65        -18.9806      3.099     -6.125      0.000     -25.055     -12.907
age_youngest_66         -5.7686      2.842     -2.029      0.042     -11.340      -0.197
age_youngest_67        -12.8648      2.863     -4.494      0.000     -18.476      -7.253
age_youngest_68        -17.0008      3.130     -5.431      0.000     -23.136     -10.865
age_youngest_69        -10.2899      3.397     -3.030      0.002     -16.948      -3.632
age_youngest_70        -11.7185      3.142     -3.729      0.000     -17.878      -5.559
age_youngest_71          2.5915      3.162      0.820      0.412      -3.606       8.789
age_youngest_72         -7.4528      3.706     -2.011      0.044     -14.717      -0.188
age_youngest_73          8.2013      4.126      1.988      0.047       0.114      16.289
age_youngest_74          3.1976      4.384      0.729      0.466      -5.396      11.792
age_youngest_75          4.9891      1.905      2.619      0.009       1.256       8.723
married_couple_0        77.3742      0.657    117.803      0.000      76.087      78.662
married_couple_1        71.8080      0.880     81.557      0.000      70.082      73.534
C_previous_0            40.1456      2.231     17.992      0.000      35.772      44.519
C_previous_1            37.2044      0.849     43.834      0.000      35.541      38.868
C_previous_2            29.8786      0.942     31.716      0.000      28.032      31.725
C_previous_3            24.8731      0.792     31.397      0.000      23.320      26.426
C_previous_4            17.0805      1.081     15.803      0.000      14.962      19.199
duration_previous_0     20.3936      2.250      9.062      0.000      15.982      24.805
duration_previous_1     18.8268      0.999     18.854      0.000      16.869      20.784
duration_previous_2     20.5681      0.918     22.395      0.000      18.768      22.368
duration_previous_3     16.4044      1.029     15.936      0.000      14.387      18.422
duration_previous_4     13.1948      1.070     12.331      0.000      11.097      15.292
duration_previous_5      8.6581      1.156      7.488      0.000       6.392      10.925
duration_previous_6      6.2784      1.172      5.357      0.000       3.981       8.576
duration_previous_7      7.0994      1.343      5.285      0.000       4.466       9.733
duration_previous_8      6.2400      1.383      4.512      0.000       3.529       8.951
duration_previous_9      8.6458      1.602      5.398      0.000       5.506      11.786
duration_previous_10     1.7017      1.810      0.940      0.347      -1.847       5.250
duration_previous_11     8.0660      2.108      3.826      0.000       3.933      12.199
duration_previous_12    -1.4587      2.361     -0.618      0.537      -6.087       3.170
duration_previous_13    10.1431      2.170      4.674      0.000       5.889      14.397
duration_previous_14    -0.4137      2.538     -0.163      0.870      -5.388       4.560
duration_previous_15     4.8343      0.944      5.120      0.000       2.983       6.685
A_0                     29.0397      1.074     27.045      0.000      26.935      31.144
A_1                     58.0278      0.738     78.651      0.000      56.582      59.474
A_2                     62.1147      0.922     67.348      0.000      60.307      63.923
B_0                     73.8113      0.551    134.054      0.000      72.732      74.891
B_1                     75.3709      0.557    135.250      0.000      74.279      76.463
C_1                     33.9187      0.854     39.710      0.000      32.244      35.593
C_2                     35.9918      0.803     44.815      0.000      34.418      37.566
C_3                     37.4618      0.689     54.400      0.000      36.112      38.812
C_4                     41.8098      1.217     34.356      0.000      39.424      44.195
D_1                     52.1853      0.796     65.530      0.000      50.624      53.746
D_2                     49.0370      0.621     78.916      0.000      47.819      50.255
D_3                     47.9599      0.630     76.185      0.000      46.726      49.194
E_0                     70.0228      0.567    123.547      0.000      68.912      71.134
E_1                     79.1594      0.594    133.284      0.000      77.995      80.324
F_0                     25.4031      1.208     21.030      0.000      23.035      27.771
F_1                     43.6038      0.826     52.758      0.000      41.984      45.224
F_2                     43.3431      0.737     58.819      0.000      41.899      44.787
F_3                     36.8322      1.401     26.293      0.000      34.086      39.578
G_1                     32.3566      0.706     45.847      0.000      30.973      33.740
G_2                     42.3721      0.557     76.079      0.000      41.280      43.464
G_3                     35.3441      0.705     50.130      0.000      33.962      36.726
G_4                     39.1094      0.770     50.767      0.000      37.599      40.620
==============================================================================
Omnibus:                      836.279   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3528.069
Skew:                           0.237   Prob(JB):                         0.00
Kurtosis:                       5.658   Cond. No.                     1.11e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.31e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

$R^{2} = 0.532$, $AIC = 1.141\times 10^{5}$ 

Se puede ver que el modelo no presenta un buen ajuste, es necesario realizar una selección de variables, por ejemplo, para mejorar estas métricas.

### Punto 8

El top 5 de los estados con los coeficientes más altos, son aquellos que más valor aportan a la variable de respuesta: cost. De la tabla se puede ver que son, en orden de mayor a menor: NY, DE, DC, MD, y CT.

In [207]:
param = model.params # se puede definir la lista de valores de los parámetros, filtrar porquellas variables que inicien en state.

### Punto 9

Homeowner es una variable binaria que indica si el cliente tiene casa propia o no, en el nivel 0, el coeficiente del modelo es $80.37$ unidades moinetarias (uu.mm.) lo que indica que cuando el cliente no tiene casa propia, el costo de la prima del seguro aumenta en $80.37$ uu.mm, manteniendo todas las demás características como constantes; en el nivel 1, aumenta en $68.8$ uu.mm. cuando se mantiene todo lo demás constante. En el caso de car_age, se tienen 48 niveles, en el nivel 0, el valor es $16.46$ y se interpreta como un aumento en $16.46$  uu.mm. manteniendo todo lo demás, constante.

### Punto 10

El valor $p$ de cada coeficiente de cada variable (ver tabla arriba) evalúa la hipótesis nula de que el coeficiente es igual a cero (no hay efecto). A un nivel de significancia del $0.01$, un valor $p$ inferior, indica que se puede rechazar la hipótesis nula y en ese caso, la variable correspondiente a ese coeficiente, tendría un efecto en la variable de respuesta (cost). Al ver la tabla se ve que, por mencionar algunas, age_oldest, de state_co a state_IA, de state_KY a state_MO (entre otras) son significativas, así como home_owner_0, home_owner_1, entre muchas otras, como se puede validar, simpelente observando que el valor en la columna $P > |t|$ de la tabla model.summary() sea menor que $0.01$.

## Problema 7

**"Ninguna de las anteriores":** esta sería la respuesta más adecuada, ya que no es posible conocer sistemáticamente el "chance" de que ocurra una u otra situación para poderlos comparar, pues ninguna de las opciones son situaciones intrínsecas del método, sino circunstanciales:

- Que los datos sean "agrupados correctamente", no es el objetivo de este método de segmentación pues se usa como un método descriptivo de aprendizaje no supervisado, en el que se busca determinar, en caso de que existan "estructuras" lo más homogéneas posible internamente y heterogéneas entre sí (minimizar dispersión intra-cluster, o equivalentemente, maximizar la dispersión intra-cluster). 

- El tema de la RAM, depende netamente de ese periférico, no es un limitante del método de segmentación k-means en sí, en caso extremo, puede configurar un cluster de equipos que funcionen en paralelo (pero no es probable que ocurra en un equipo con 32 de RAM si el procesador no es un cuello de botella).

- El desbordamiento numérico es para nada probable, ya que los únicos cálculos que hay que realizar son promedios y distancias, y los rangos numéricos de los datos dados no son grandes, incluso se podría hacer un análisis con un orden de magnitud menor.

- La información obtenida por segmentación con k-means siempre será útil, ya que se busca conocer si existen "estructuras" definidas, o no, en caso de que existan, nos mostrará una idea de esas estructuras y se encontrarán, posiblemnente, los grupos de personas con edades "grandes" que ganan mucho, otro grupo con sueldos "intermedios", sueldos bajos, o los grupos de personas jovenes con sueldos bajos, intermedios, altos, y así sucesivamente.

- El hecho de que un datapoint pertenezca a dos clusters en un momento determinado o cuando converja el algoritmo, depende de los valores particulares que se tengan en el análisis.